@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    background: linear-gradient(145deg, #060a1c 0%, #111c4d 100%);
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.container {
    border: 1em solid;
    border-image: linear-gradient(0deg, rgba(252, 173, 151, 1) 0%, rgba(253, 234, 165, 1) 100%) 1 100%;
    border-image-slice: 1;
    width: 55rem;
    padding: 1em 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000);
}

.border-top {
    border-top: 1px solid rgb(131, 131, 131);
}

.border-bottom {
    border-bottom: 1px solid rgb(131, 131, 131);
}


.h1-title {
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;
    color: #606060;
}

.h2-title {
    color: #606060;
    font-style: italic;
    font-weight: lighter;
    font-size: 2.3em;
}

ul,
p {
    font-weight: 200;
}

.left-container {
    width: 80%;
}

.left-container h1 {
    padding-bottom: .5em;
}

.left-container h1,
.left-container p {
    text-align: center;
}

.om-mig-holders {
    margin-bottom: 3em;
}

.xp-holders,
.right-top,
.språk,
.kompetens {
    padding: 1em 0;
}

.xp-holders ul {
    text-align: center;
    list-style: none;
    margin-bottom: 3em;
}

.right-container {
    max-width: 90%;
}

.right-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.utbildning {
    text-align: center;
    padding-bottom: 1em;
}

.utbildning ul {
    list-style: none;
    width: 50em;
    max-width: 80vw;
}

.kompetens {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.kompetens ul {
    list-style: none;
    text-align: center;
}

.kompetens ul li {
    padding: .4em 0;
}

.språk {
    text-align: center;
    padding: 1em 0 1em 0;
    width: 80%;
}

.språk ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    align-items: center;
}

.språk ul li {
    padding: .4em 0;
}

.kompetens-progressor {
    box-sizing: content-box;
    height: .4em;
    width: 9em;
    background-color: white;
    border: 3px solid #606060;
    border-radius: 7px;
}

.språk-progressor {
    box-sizing: content-box;
    height: .4em;
    width: 9em;
    background-color: white;
    border: 4px solid #606060;
    border-radius: 7px;
}

.name-title {
    order: 3;
    font-size: 3em;
    font-weight: 300;
    padding: 1.5em 0 0.5em 0;
    text-align: center;
}

.contact-info {
    order: 4;
}

.icons {
    width: 1.3em;
    padding-right: 0.5em;
}

#java {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(96, 96, 96, 1) 50%);
}

#selenium {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 64%, rgba(96, 96, 96, 1) 65%);
}

#photoshop {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 75%, rgba(96, 96, 96, 1) 75%);
}

#b-körkort {
    background-color: white;
}

@media (min-width: 820px) {

    .container {
        flex-direction: row;
        align-items: flex-start;
    }

    .right-container {
        max-width: 30%;
        border-left: 1px solid rgb(131, 131, 131);
        height: 100%;
    }

    .left-container {
        padding: 2em;
    }

    .left-container h1,
    .left-container p,
    .left-container ul {
        text-align: left;
    }

    .left-container h1 {
        font-size: 5em;
    }

    .left-container p,
    .left-container ul {
        font-size: 1.7em;
        list-style: outside;
    }

    .left-container ul {
        padding-left: 1em;
    }

    .xp-holders {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .xp-ul {
        margin: 0;
    }

    .ux-ul {
        margin: 0;
    }


    .right-top {
        justify-content: space-around;
        align-items: center;
        height: 100%;
        border-top: none;
    }

    .name-title {
        order: 0;
        padding-top: 0;
        text-align: left;
        align-self: flex-start;
        padding-left: .4em;
    }

    .contact-info {
        order: 0;
        border-bottom: 1px solid rgb(131, 131, 131);
        padding-bottom: 1em;
    }



    .utbildning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .utbildning ul {
        width: 15em;
        max-width: 80%;
    }

    #utbildning-text {
        padding-bottom: .3em;
    }

}